body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background: #ffffff;
    padding: 10px 0;
}

.header-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.hero {
    height: 850px;
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icons {
    padding: 30px 0;
    background: #f5f5f5;
}

.products {
    padding: 40px 0;
    background: #ffffff;
}

.vision-mission {
    padding: 40px 0;
    background: #fafafa;
}

.section-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.footer {
    background: #2f4f4f;
    color: white;
    padding: 20px 0;
}